
* {
	margin:0;  
	padding:0;
	text-align: center;	
}
#wrapper {
	width: 785px;  
	margin: 0 auto; 
}
#wrapper1000 {
	width: 1000px;  
	margin: 0 auto; 
}
#wrapper1200 {
        width: 1200px;
        margin: 0 auto;
}
.header {
	width: 785px;
	height: 173px;
	border:none;
}
.footer{
	width: 785px;
	height: 173px;
	padding-top: 20px;
	padding-left: 30px;
}
.subheader {
	font-size: 40px;
	height: 0px;
    border: none;
	padding: 15px 0px 20px 10px;
}
.columnheader {
	font-size: 20px;
    border: none;
	padding: 0px;
}
#labelyear {
  font-size: 4.6em;
  font-style: bold;
  font-family: Georgia, serif;
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari 3-8 */
  transform: rotate(270deg);
  position:relative;
  top: 114;
  right: 310;
  height: 10;
}
.labelheader {
	font-size: 1.9em;
	padding-top: 12px;
	padding-bottom: 12px;
	color: black;
	border-bottom: 1px solid black;
	white-space: nowrap;
}
.cornerheader {
	border: 3px solid #036;
	height: 62px;
	float: left;
}
.spacer {
    margin-bottom: 35px;
}
.links {
	font-size: 2.6em;
	padding-top: 12px;
	padding-bottom: 8px;
    border: none;
	height:100%;
}
.linkssmaller {
	font-size: 1.8em;
	height: 50px;
}
.linksstats {
	font-size: 1.8em;
	height: 50px;
}
.update {
	font-size: 26px;
	height: 45px;
	color: CC3333;
	padding-bottom: 20px;
}
.updatebanner {
	font-size: 18px;
	height: 36px;
	color: CC3333;
	text-align: left;
	padding-left: 26px;
}
.menuselector {
	color: #039;
	font-size: 16px;
	font-style: bold;
	font-family: Georgia, serif;
	white-space: nowrap;
	overflow: hidden;
	cellspacing: 0px;
	border: 3px solid #036;
	background-color: #999;
	margin: auto;
	width: 645px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	behavior: url(css/border-radius.htc);
	border-radius: 30px;
}

tr td {
    align: center;
}

h1 {
	font-size: 26px;
	padding:0px;
   	white-space: nowrap;
}
.rules {
	color: #039;
	font-size: 16px;
	font-style: bold;
	font-family: Georgia, serif;
	white-space: wrap;
	overflow: hidden;
	cellspacing: 2px;
	border: 3px solid #036;
	background-color: #999;
	margin: auto;
	width: 865px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	behavior: url(css/border-radius.htc);
    border-radius: 30px;
    padding:10px 20px 10px 50px;
}
.rulestable {
	color: #039;
	font-size: 16px;
	font-style: bold;
	font-family: Georgia, serif;
}
p {
	text-align:left;
	font-size: 16px;
}
ol#lefty  li {
	text-align: left;
    padding-bottom: 8px;
}
#notrounded {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	behavior: none;
	border-radius: 0px;
	border: 0px;
}
#grid td, #grid th {
    margin: 0;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: black;
	border-collapse: collapse;
	empty-cells: show;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

#grid_schedule td, #grid_schedule th {
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: black;
	border-collapse: collapse;
	empty-cells: show;
	white-space: nowrap;
}

.champions {
	color: #039;
	font-size: 16px;
	font-style: bold;
	font-family: Georgia, serif;
	border: 3px solid #036;
	background-color: #999;
	margin: auto;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	behavior: url(css/border-radius.htc);
	border-radius: 30px;
	width: 740px;
}

.champgrid {
	font-size: 20px;
	height: 36px;
	border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: black;
	border-collapse: collapse;
	empty-cells: show;
	white-space: nowrap;
}

.star {
    width:5%;
    padding-right:20;
    padding-left:20;
}

.championshof {
	color: #039;
	font-size: 16px;
	font-style: bold;
	font-family: Georgia, serif;
	border: 3px solid #036;
	background-color: #999;
	margin: auto;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	behavior: url(css/border-radius.htc);
	border-radius: 30px;
	width: 440px;
}

.champgridhof {
	font-size: 28px;
	height: 36px;
	border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: black;
	border-collapse: collapse;
	empty-cells: none;
	white-space: nowrap;
}

.starhof {
    width:9%;
    padding-right:20;
    padding-left:20;
}

.lit {
	background: #BDB76B;
}
a:link {
	text-decoration: none;
	color: #039;
}
a:visited {
	text-decoration: none;
	color: #039;
}
a:hover {
	text-decoration: none;
	color: #03F;
}
a:active {
	text-decoration: none;
	color: #039;
}

.even {
	background-color: #BDBDBD; }
.odd {
	background-color: #D8D8D8; 
	font-size: 14px; }

.strokes {
	background-color: red; 
	font-size: 20px; }

.avg {
	background-color: orange; 
	font-size: 20px; }

.handicap {
	background-color: yellow; 
	font-size: 20px; }
	
.tpoints {
	background-color: #66A666; 
	font-size: 20px; }
	
.koc {
	background-color: lightblue; 
	font-size: 20px; }

	
	
	

